body, input, button, select {
    font-family: 'Rubik', sans-serif;
    
    --color1: hsla(188, 12%, 25%, 1);
    --color2: hsla(108, 24%, 48%, 1);
    --color3: hsla(32, 39%, 66%, 1);
    --color4: hsla(15, 67%, 78%, 1);
    --color5: hsla(68, 53%, 92%, 1);
    --color6: hsla(0, 52%, 94%, 1);
    --color7: hsla(228, 25%, 12%, 1);
    --color8: hsla(216, 44%, 25%, 1);
    --color9: hsla(205, 38%, 40%, 1);
    --color10: hsla(211, 31%, 66%, 1);
    --color11: hsla(166, 73%, 88%, 1);
  }

  body {
      background-image: url('https://i.pinimg.com/originals/c8/35/d0/c835d0402b0ba3d1d72c8eb2c46c72cf.jpg');
      background-size: cover;
      height: 100vh;
  }

nav {
    width: 300px;  
}

section {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

label, select{
    display: block;
}

label {
    color: whitesmoke;
}

select {
    width: 170px;
    height: 24px;
}

.amount {
    width: 162px;
    height: 20px;
}

h1 {
    color: rgb(247, 232, 151);
    text-align: center;
}

a {
    color: rgb(158, 157, 157);
}

table {
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
}

tr {
    text-align: center;
}

button,input, select {
    color: var(--color8);
    border-radius: 10px;
}

.form-section {
    justify-content: center;
}

.thead {
    background-color: var(--color8);
    color: white;
}

.links {
    display: flex;
    justify-content: space-around;
}

.button {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.table-section {
    height: 200px;
}

#fin-button {
    height: 40px;
    width: 150px;
}
