body {
    font-family: 'Rubik', sans-serif;
    
    --color1: hsla(188, 12%, 25%, 1);
    --color2: hsla(108, 24%, 48%, 1);
    --color3: hsla(32, 39%, 66%, 1);
    --color4: hsla(15, 67%, 78%, 1);
    --color5: hsla(68, 53%, 92%, 1);
    --color6: hsla(0, 52%, 94%, 1);
    --color7: hsla(228, 25%, 12%, 1);
    --color8: hsla(216, 44%, 25%, 1);
    --color9: hsla(205, 38%, 40%, 1);
    --color10: hsla(211, 31%, 66%, 1);
    --color11: hsla(166, 73%, 88%, 1);
  }

  nav {
    width: 300px;  
}

a {
    color: rgb(158, 157, 157);
}

h1 {
    color: rgb(73, 72, 72);
    text-align: center;
}

body {
    background-color: hsla(68, 53%, 92%, 1);
}

#advice-result {
    color: rgb(73, 72, 72);
    text-align: center;
    font-size: 1.2rem;
}

.links {
    display: flex;
    justify-content: space-around;
}

.chart-container {
    margin: auto;
    max-width: 1000px;
    margin-bottom: 20px;
}